.first-box {
  padding: 20px;
  float: left;
  margin-top: 90px;
}
.second-box {
  padding: 20px;
  float: right;
  margin-bottom: 20px;
}
.second1-box {
  padding: 20px;
  float: right;
}

.flex-container {
  height: 22%;
  width: 100%;
  background: #616161;
}

.to-win {
  height: 45%;
  float: right;
  width: 100%;
  background-image: url('../../images/top-right.png');
  background-size: contain;
}
.flex-container2 {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background: #616161;
}
.image1 {
  height: 95%;
  width: 33%;
  background-image: url('../../images/image-1.png');
  background-size: cover;
}
.image2 {
  height: 95%;
  width: 33%;
  background-image: url('../../images/image-2.png');
  background-size: cover;
}
.image3 {
  height: 95%;
  width: 33%;
  background-image: url('../../images/image-3.png');
  background-size: cover;
}
